.modal-bg{
    position: fixed;
    background: rgb(0,0,0,0.8);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-body{
    background: rgba(212, 250, 205, 0.829);  ;
    position: relative;
    width: 250px;
    padding: 20px 10px;
    border-radius: 10px;
    animation: dropTop .3s linear;

}
h3{
    margin: 0;
}
.modal-header{
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    margin: 0;
    text-align: left;
}
.modal-body button{
    position: absolute;
    background-color: black;
    color: white;
    top: 10px;
    right: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.modal-content{
    text-align: left;
}
@keyFrames dropTop{
    0%{
        transform: translateY(-100%) scale(0);
        opacity: 0;
    }
    100%{
        transform: translateY(0%) scale(1);
        opacity: 1;
    }
}
